// Change Bulma theme color
$secondary: #111827;
$primary: #0B0F19;
$body-background-color: #0B0F19;
$text: #E5E7EB;

@use "bulma/sass" with (
$primary: $primary,
$body-background-color: $body-background-color,
$text: $text
);

// Your custom style
body {
  padding-top: 4rem;
}

p {
  color: #E5E7EB;
}

.custom-box {
  background-color: #111827;
  border-radius: 10px;
}

.navbar {
  background-color: #111827;
}

.project-card {
  background-color: #111827;
  border-radius: 16px;
}

.skill-card {
  background-color: #111827;
  border: 1px solid #1F2937;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-footer {
  background-color: #111827;
  padding: 3rem 1.5rem;
}

.button {
  background-color: #3B82F6;
}

.profile-figure {
  width: 500px;
  margin: 0 auto;
  filter: grayscale(100%);
}
.profile-figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1px;
}
@media (max-width: 768px) {
  .profile-figure {
    width: 300px;
  }
}